# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
*/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
.vscode
settings.json

# cypress
/cypress/screenshots
/cypress/videos

# Ignore execute file
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.0.0/windows_386/terraform-provider-aws_v4.0.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/windows_386/terraform-provider-aws_v5.26.0_x5.exe